*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;   
    flex-direction: column;
    align-items: center;

}

#mainImg{
    width: 80px;
}

.div{
    padding: 50px;
    display: flex;   
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#button{
    background-color: rgb(46, 139, 175);
    border: none;
    padding: 20px 30px;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}


