@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 37, 71);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
    
}

.main{
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 40px;
    position: relative;

}
.scoreDiv{
    border: 4px solid rgb(91, 105, 129);
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    width: 800px;
    padding: 20px;
}
.scoreDiv h1{
    max-width: 200px;
    font-size: 43px;
}

.scoreDiv div{
    background-color: #fff;
    display: flex;
    width: 140px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    color: black;
}
.scoreDiv div p{
    color: rgb(81, 94, 154);
    font-size: 18px;
}

.scoreDiv div h2{
    color: rgb(88, 84, 107);
    font-size:35px;
    font-weight: 900;
}


.choiceDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    
}
.choiceDiv div{
    display: flex;
    gap: 40px;
}

.choiceDiv2{
    display: none;
    gap: 15px;
    align-items: center;
    justify-content: center;
    
}

.choiceDiv2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 15px;
}
.choiceDiv2 div h1{
    font-size: 50px;
    font-weight: 600;

}
.choiceDiv2 div p{
    font-size: 25px;
    font-weight:600;

}
.choiceDiv2 div button{
    font-size: 13px;
    width: 180px;
    height: 40px;
    background-color: #f9f9f9;
    color: #6c707e;
    border-radius: 7px;
    transition: 0.3s  ease;
    font-weight: 800;
}
.choiceDiv2 div button:hover{
    color: rgb(183, 79, 104);
}

#rulesButton{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    align-self: end;
    margin: 30px;
    font-size: 20px;
    border: 1px solid rgb(138, 140, 165);
    padding: 20px;
    border-radius: 8px;
    width: 140px;
    cursor: grab;
    height: 20px;
}
#rulesDiv{
    background-color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width:460px;
    gap: 20px;
    height: 390px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
#rulesDiv p{
    width: 100%;
    color: rgb(59, 65, 97);
    font-size: 30px;
}
#rulesDiv div{
    display: flex;
    gap: 280px;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);   
    display: none;
    z-index: 10;
}

