*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;

}

.main{
    gap: 10px;
    border: 10px double dodgerblue;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr)) ;
}

.main div{
    background-color: rgb(192, 211, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}