@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.themes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}
.right-side{
    display: flex;
    gap: 16px;
    align-items: end;
    justify-content: end;
}
.right-side p{
    font-size: 12px;
    margin-bottom: 1px;
    font-weight:700;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.controls h6{
    letter-spacing: 4px;
}
.controls div{
    background-color: rgb(37, 45, 69);
    width:50px ;
    height: 17px;
    border-radius: 10px;
    padding: 2px 3px;
    display: flex;
    align-items: center;
}
.controls  div  button{
    background-color: rgb(240, 112, 90);
    border: none;
    width:30%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
#input{
    width: 370px;
    background-color:rgb(24, 31, 50) ;
    height: 100px;
    color: #ffff;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 20px;
    font-size: 35px;
}
.numbers{
    background-color: #252d3f;
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: repeat(5,35px);
    justify-content: center;
    align-content: center;
    border-radius: 8px;
    gap: 10px;
    padding: 5px;
    height: 280px;
}
.numbers div{
    background-color:rgb(229, 228, 224);
    color: rgb(71, 76, 98);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 38px;
    padding: 5px;
    border-radius: 5px;
    font-size: 23px;
    border-bottom: 2px  solid rgb(179, 162, 151);
    cursor: pointer;
    transition: 0.2s ease;
}
#delete{
    color: white;
    background-color: rgb(162, 179, 225);
    border-bottom: 2px  solid rgb(65, 78, 113);
    font-size: 19px;

}
#reset{
    grid-column: 1/3;
    grid-row: 5;
    width: 150px;
    color: white;
    background-color: rgb(162, 179, 225);
    border-bottom: 2px  solid rgb(65, 78, 113);
    margin-top: 10px;
    font-size: 19px;


}
#equal{
    grid-column:  3/5;
    grid-row: 5;
    width: 150px;
    color: white;
    background-color:rgb(249, 108, 91) ;
    border-bottom: 2px  solid rgb(149, 39, 28);
    margin-top: 10px;
    font-size: 19px;


}


.numbers div:hover{
    background-color: #ffff;
    transform: scale(1);
}
.numbers div:active{
    transform: scale(0.9);
}