@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container {
    display: flex;
}

.bg-img {
    height: 100%;
    width: 600px;
}



.info-side {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
}
#form label{
    color: hsl(278, 68%, 11%);
    font-weight: 700;
    font-size: 13px;
}
#form input{
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 6px;
}
#form input::placeholder{
    color:hsl(270, 3%, 87%);
    font-weight:700;
    font-size: 16px;
}
/* #form input:active {
  background:
    linear-gradient( 90deg,
      rgba(100, 72, 254, 1) 37%,
      rgba(96, 5, 148, 1) 62%
      );
      } */

.inputs1-2{
    width: 350px;
    height: 40px;
    padding: 10px;
}
.date-CVC{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.exp-date-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.MM-YY-div{
    display: flex;
    gap: 10px;
}
.exp-dates{
    max-width: 70px;
    height: 35px;
    padding: 10px;
}

.CVC-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.CVC-div input {
    display: flex;
    flex-direction: column;
    max-width: 186px;
    height: 35px;
    padding: 10px;
}

.confim-btn{
    width: 350px;
    height: 45px;
    padding: 10px;
    margin-top: 20px;
    background-color: hsl(278, 68%, 11%);
    border-radius: 8px;
    color: hsla(0, 0%, 100%, 0.819);
    cursor: pointer;
}