*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-div{
    display: flex;
    flex-direction: column;
    border: 1px solid mediumturquoise;
    padding: 30px;
    gap: 30px;
    box-shadow: 0px 0px 30px  mediumturquoise ;
    cursor: pointer;
    transition: 1s;
    height: 400px;
    overflow-y: scroll;
}
#form-div{
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
#form{ 
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
}
#form  div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
#form input{
    border: 2px dashed aqua;
    box-shadow: 0px 0px 5px  rgb(5, 111, 107) ;
    padding: 6px;
    width: 300px;
    border-radius: 10px;
}
.p{
    color: deeppink;
}
.p span{
    color:mediumturquoise ;
;
}

#list-div{
    border: 1px solid dodgerblue;
    padding: 10px;
    list-style: none;
}
#list-div li{
    border: 1px solid dodgerblue;
    padding: 10px;
    list-style: none;
}



#main-div:hover{
    transform: translateY(-15px);
}