@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#menuIcon {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235, 235, 235);
  width: 85%;
  padding: 20px 150px;
  flex-wrap: wrap;
}
.h1AndNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.h1AndNav h1 {
  color: rgb(34, 35, 40);
  font-weight: 900;
}

.h1AndNav nav ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(129, 130, 135);
  transition: 0.5s ease-out;
}

nav ul li a:hover{
  border-bottom: 4px solid rgb(254, 125, 27);
  padding-bottom: 30px;
}


.cartAndImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.cartAndImage img {
  width: 25px;
  height: 25px;
}
#avatarImg {
  width: 45px;
  height: 45px;
}

/* ----------------------------- */

main {
  display: flex;
  gap: 160px;
  justify-content: center;
  align-items: center;
  padding: 80px 200px;
  flex-wrap: wrap;
}
.mainImg {
  width: 560px;
  border-radius: 10px;
}
.imagesDiv {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.smallImages {
  display: flex;
  gap: 25px;
}
.smallImages img {
  width: 120px;
  border-radius: 10px;
}
/* ---------------- */
.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc-upper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.desc-upper h2 {
  color: rgb(139, 142, 149);
  font-size: 20px;
}
.desc-upper h1 {
  color: rgb(30, 32, 38);
  font-weight: 900;
  font-size: 40px;
  max-width: 430px;
}

.text {
  color: rgb(123, 125, 127);
  max-width: 500px;
  line-height: 1.4;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.newPrice {
  font-weight: 900;
  font-size: 28px;
  color: rgb(26, 29, 32);
}
.newPrice span {
  background-color: rgb(26, 30, 36);
  color: rgb(230, 231, 236);
  border-radius: 7px;
  font-size: 16px;
  padding: 5px 11px;
  font-weight: 600;
}
.oldPrice {
  text-decoration: line-through;
  color: rgb(136, 141, 149);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.minusCountPlus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fd;
  padding: 16px;
  border-radius: 10px;
  width: 150px;
}

.minusCountPlus img {
  cursor: pointer;
  transition:  0.2s;
}

.minusCountPlus img:hover {
  opacity: 0.6;
}

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 16px 0;
  gap: 15px;
  background-color: hsl(26, 100%, 55%);
  color: rgb(58, 36, 18);
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  flex-grow: 1;
  cursor: pointer;
}

@media (max-width: 1224px) {
  header {
    justify-content: center;
    padding: 12px;
  }
  /* ----------------------- */
    main{
    gap:100px;
  }
}

@media (max-width: 686px) {
  header {
    gap: 50px;
    flex-wrap: nowrap;
  }
  .h1AndNav {
    gap: 30px;
  }
  nav {
    display: none;
  }
  #menuIcon {
    display: flex;
  }
  .cartAndImage img {
    width: 20px;
    height: 20px;
  }
  #avatarImg {
    width: 40px;
    height: 40px;
  }
  /* ----------------------- */
  main{
    padding:40px 0;
    gap: 40px;
  }
  .mainImg{
    width: 100%;
    border-radius: none;
  }
  .smallImages{
    display: none;
  }

  .description{
    gap: 20px;
    justify-content:start;
    margin: 15px;
  }
  .desc-upper h1{
    font-size: 33px;
    max-width: 300px;
  }
   .desc-upper h2{
    font-size: 16px;
  }
  .text{
    max-width: 360px;
    font-size:16px
  }
  .prices{
    flex-direction: row;
    justify-content: space-between;
  }
  .buttons{
    flex-direction: column;
    width: 100%;
  }
  .buttons  button{
    width: 100%;
  }
  .minusCountPlus{
  justify-content: space-between; 
  width: 100%;                   
  min-width: 150px;
  }
}
