@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
}
.font700 {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.font300 {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/*------------------- header------------------- */
header {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 230px;
}

nav ul {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
  font-weight: 400;
}

.li1 {
  font-weight: 600;
}
.buttons {
  display: flex;
  gap: 25px;
  cursor: pointer;
}
.btn1 {
  border: none;
  font-weight: 400;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
}
.btn2 {
  border: 1px solid #003478;
  color: #003478;
  background-color: #fff;
  font-weight: 600;
  width: 106px;
  font-size: 17px;
  height: 48px;
}

/* -------------------hero ------------------*/
#hero {
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  padding-bottom: 60px;
}

.lines {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 22px;
  z-index: 0;
}

.lines div {
  background-color: #303231;
  width: 100%;
  height: 64px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 13%;
  left: 230px;
  z-index: 1;
  max-width: 500px;
  gap: 97px;
}

.hero-text h1 {
  font-size: 66px;
  text-transform: uppercase;
  color: #003478;
}

.hero-text h1 span {
  color: rgb(251, 170, 12);
}

.hero-text p {
  font-size: 32px;
  text-transform: uppercase;
  margin: 20px 0;
  color: white;
  font-size: 45px;
}

.hero-text p span {
  font-size: 20px;
}

.hero-buttons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.hero-btn1 {
  padding: 20px 40px;
  color: #fff;
  background-color: #003478;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.hero-btn2 {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hero-btn2 div {
  border-radius: 50%;
  background-color: #003478;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btn2 button {
  border: none;
  background: none;
  font-size: 17px;
  cursor: pointer;
}

.car {
  position: relative;
  right: -56%;
  z-index: 0;
  top: 75px;
}

/* --------------------section2 -----------------*/
#custom-order {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 40px;
}
.custom-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.custom-div1 div {
  background-color: #303231;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-div1 div p {
  font-size: 34px;
  font-family: "Sansation", sans-serif;
  font-weight: 200;
  font-style: normal;
  min-width: 400px;
  color: #fff;
}

.custom-div1 p {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin-top: 0;
  color: #303231;
}
.custom-div2 {
  width: 100%;
  padding: 0px 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.custom-divs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid #f5f5f5;
  padding: 30px;
}
.border-right {
  padding: 39px;
}
.line {
  background-color: #bcbcbc;
  height: 230px;
  width: 1px;
}

.circle {
  border-radius: 50%;
  color: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6645;
}
.circle1 {
  background-color: #5046c7;
}
.circle3 {
  background-color: #81d9f8;
}
.custom-divs h3 {
  font-size: 18px;
  font-weight: 600;
  color: #233443;
}
.custom-divs p {
  max-width: 264px;
  text-align: center;
  font-weight: 400;
  color: #333333;
}
.custom-divs h4 {
  color: #ff6645;
  font-size: 14px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.links button {
  padding: 15px 23px;
  background-color: #003478;
  border: none;
}
.links button a {
  text-decoration: none;
  color: #fff;
}
.links a {
  color: #0276b3;
  font-weight: 400;
  font-size: 18px;
}
.custom-nums {
  padding: 0px 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.custom-nums div {
  width: 275px;
  height: 142px;
  border-radius: 10px;
  box-shadow: 0px 00px 20px rgba(169, 168, 168, 0.653);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #233443;
}
.custom-nums h3 {
  font-size: 48px;
  font-weight: 400;
  color: #333333;
}

/* ------------------power------------- */

#power {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: Column;
  margin-top: 100px;
}
.power-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.power-div1 h2 {
  background-color: #303231;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
}
.power-div1 p {
  font-weight: 400;
  font-size: 24px;
  color: #303231;
  max-width: 1000px;
  text-align: center;
}

.engines {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.engine-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.engine-div h2 {
  font-weight: 400;
  font-size: 34px;
  color: #303231;
}
.engine-div p {
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
}
.eng-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

ul.spec-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

ul.spec-list li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  font-size: 18px;
  color: #333333;
  font-weight: 400;
}

ul.spec-list li::before {
  content: "✔";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
}

/* -----------photogallery----------- */
#photo-gallery {
  background-color: #303231;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  justify-content: space-evenly;
  overflow: hidden;
  width: 100%;
}

#photo-gallery h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.car2-bg {
  width: 25%;
  max-width: 360px;
  position: absolute;
  right: 0;
  top: 0;
}

.photo-gallery1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.car2-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car2 {
  width: 100%;
  max-width: 900px;
  height: auto;
  z-index: 9999;
}

.car2-platf {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin-top: -190px;
}

.photo-gallery2 {
  display: flex;
  justify-content: center;
  gap: 55px;
  flex-wrap: wrap;
  padding: 20px;
}

.photo-gallery2 img {
  width: 120px;
  max-width: 20%;
  height: auto;
  border-radius: 6px;
}

/* -----------fordpass--------------------------- */

#fordpass {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 0px 200px;
}
#fordpass div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#fordpass h1 {
  font-weight: 400;
  font-size: 33px;
}
#fordpass p {
  max-width: 500px;
  line-height: 227%;
}

#fordpass button {
  padding: 15px 23px;
  max-width: 260px;
  background-color: #003478;
  border: none;
  width: 100%;
}
#fordpass button a {
  text-decoration: none;
  color: #fff;
}

.car3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.car3 {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

/*--------------------------------------- media------------------------------------- */
@media (max-width: 1170px) {
  header {
    padding: 0px 50px;
  }
  .lines,
  .car {
    display: none;
  }
  .line {
    display: none;
  }
  .hero-text {
    gap: 10px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    top: 50px;
  }
  .engine-div {
    flex-direction: column;
  }

  #fordpass {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 1140px) {
  .hero-text {
    z-index: 2;
    gap: 70px;
    left: 30px;
    top: 10%;
  }
  .hero-text h1 {
    font-size: 50px;
  }
  .hero-text p {
    font-size: 30px;
  }
  .lines {
    width: 100%;
    height: 100px;
  }
  .car {
    display: none;
  }

  .line {
    display: none;
  }
  .custom-div1 div p {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  header nav ul,
  .buttons {
    display: none;
  }
  .menu {
    display: block;
  }
  #custom-order {
    gap: 50px;
  }
  .custom-div1 p {
    padding: 0px 30px;
  }
  .custom-nums {
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
  }
  .custom-nums div {
    box-shadow: none;
  }
  .custom-div2 {
    padding: 20px 15px;
  }
  .custom-divs {
    padding: 20px;
  }
  .custom-divs h3 {
    font-size: 17px;
  }
  /* ----------------------- */
  .car2 {
    max-width: 700px;
  }
  .car2-platf {
    max-width: 750px;
    margin-top: -60px;
  }
  .photo-gallery2 img {
    max-width: 30%;
  }
  /* -------------fordpass------------ */
  #fordpass div {
    text-align: center;
    align-items: center;
  }

  #fordpass {
    padding: 55px 55px;
  }
  #fordpass h1 {
    font-size: 25px;
  }
   #fordpass p{
    line-height: 1.5;
   }
}

@media (max-width: 600px) {
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-text p {
    font-size: 16px;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-buttons {
    gap: 10px;
    margin-top: 20px;
  }
  .custom-nums h3 {
    font-size: 36px;
  }
  .custom-div1 div p {
    font-size: 19px;
  }
  .custom-div1 p {
    font-size: 16px;
    max-width: 300px;
  }
  .power-div1 h2 {
    font-size: 20px;
  }
  .power-div1 p,
  .eng-div p {
    font-size: 17px;
  }
  .engines {
    padding: 30px;
  }
  .engines img {
    width: 300px;
    margin-top: 20px;
  }
  .eng-div h2 {
    font-size: 26px;
  }

  /* photo gallery */
  #photo-gallery h2 {
    font-size: 22px;
  }
  .car2 {
    max-width: 100%;
  }
  .car2-platf {
    max-width: 100%;
    margin-top: -40px;
  }
  .photo-gallery2 {
    gap: 10px;
  }
  .photo-gallery2 img {
    max-width: 25%;
  }
}
