*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;

}

/*  */

.header{
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(24, 44, 2, 0.7)), url("/groupwork3/images/bg.jpg");   /* vaertebt or fers */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /*   mtliani ekranis zomas moicavs headeris contenti */
    position: relative;
    width: 100%;  /* ikavebs  ekranis mtlian siganes */
}

/* navigacia */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    border-radius: 10px;
    transition: 1.5s;
}
/* mausis mitanis shemdgom surati trialdeba 360 gradusit da izrdeba 30px-ti */
nav img:hover{
    transform: rotate(360deg);
    width: 130px;
}

.nav-links{
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 10px;
    position: relative;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Bebas Neue', sans-serif;
    transition: 1s;

}

.nav-links ul li a::after{
    content:' ' ;  /* aq shegvidzlia chavwerot nebiseri ram da gamochndeba teqstis shemdgom anu qvemot, ::after elementis shemdgom qmnis axal elements*/
    width: 0%;
    height: 2px;
    background: #a5ca00;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 1s; /* amit vakonrolebt tu ramdenad chqara/nela moxdeba moqmedeba */
}
/* rodesac cursors mivitant teqstan  qvemot gamouchndeba mwvane xazi*/
.nav-links ul li a:hover::after{
    width: 100%;
}

/* dacheris hemdgom teqsti icvlis fers */
.nav-links ul li a:active{
    color: #ff1500;
}

