*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('image.png');
    background-size:cover ;
    background-position: center;
    color: #fff;
    font-family: sans-serif;
}
.text{
    font-size: 60px;
    color: yellow;
    font-weight: 600;
}
#main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border: 2px solid yellow;
    border-radius: 25px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.243) ;
    backdrop-filter: blur(10px);

}
.counter-divs{
    display: flex;
    gap: 40px;
    text-align: center;

}
.counter-divs h1{
    font-size: 70px;
}
.counter-divs p{
    color: yellow;
}

#jingle{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 40px;
    margin-left: 40px;
}


#isari{
    width: 200px;
    position: absolute;
    right: 290px;
    filter: brightness(2200%) sepia(100%) saturate(10000%) hue-rotate(90deg);
    animation: spin 0.9s linear  infinite forwards ;
   
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
     100%{
        transform: rotate(360deg);
    }
}