body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/460/209/non_2x/a-computer-desktop-wallpaper-for-forex-trading-terminal-ai-generative-desktop-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
h1{
    text-align: center;
    color: floralwhite;
}
li{
  color: rgb(105, 250, 255); 
  font-size: 22px;
  
}

.div1 {
    display:flex;
    justify-content: space-around;
}
button a{
    text-decoration: none;
}
button{
    border-radius: 17px;
    font-size: 49px;
    color: rgb(166, 212, 255);
    background-color: rgb(21, 106, 233);
   
}