@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font1 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: #000a14;
}
header {
  display: flex;
  border: 2px solid #d3cfcf;
  border-radius: 24px;
  color: white;
  margin: 60px 80px;
}
.header-img-div {
  border-right: 2px solid #d3cfcf;
  padding: 25px 100px;
}
.header-img {
  width: 65px;
}
.header-links {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.header-nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:2px solid #d3cfcf ;
}
.header-nav-menu nav{
  max-width: 1190px;
  width: 100%;
  height: 56px;
  border-right: 2px solid #d3cfcf;
  
}
header nav ul {
  padding:15px 20px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.burger-menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 56px;
  cursor: pointer;
  border: 1px solid #d3cfcf;
  border-top-right-radius: 24px;
}
/*header  second row */
.header-row2{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
}
.header-services{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.header-services div {
  display: flex;
  align-items: center;
}
.header-services {
  width: 50%;
}
.border-right{
  border-right: 2px solid #d3cfcf;

}

/* .gradient-border {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  color: #fff;
  background: #000; 
  cursor: pointer;
  border: 2px solid ; 
  border-image: linear-gradient(90deg, #51ff00, #376145) 1 ;
  transition: 1s;
}

.gradient-border:hover {
  box-shadow: 0 0 8px rgba(119, 231, 233, 0.7);
      
} */
