@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font1 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: #000a14;
}
header{
  display: flex;
  border: 2px solid #d3cfcf ;
  border-radius: 24px;
  color: white;
}
.header-links{
  display: flex;
}
.header-nav-menu{
  display: flex;
  justify-content: space-between;
}
header nav{
  display: flex;
}


.header-img {
  width: 50px;
}
.menu-btn-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 232px;
  height: 56px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 3px solid #d3cfcf;;
}

.menu-btn {
  position: relative;
  width: 40%;
  height: 3px;
  background-color: #d3cfcf;
  border-radius: 5px;
}

.menu-btn::before,
.menu-btn::after {
  content: '';
  position: absolute;
  width: 99%;
   height: 3px;
  background-color: #d3cfcf;;
  border-radius: 5px;
}
.menu-btn::before {
  transform: translateY(-16px);
}

.menu-btn::after {
  transform: translateY(16px);
}
/* .gradient-border {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  color: #fff;
  background: #000; 
  cursor: pointer;
  border: 2px solid ; 
  border-image: linear-gradient(90deg, #51ff00, #376145) 1 ;
  transition: 1s;
}

.gradient-border:hover {
  box-shadow: 0 0 8px rgba(119, 231, 233, 0.7);
      
} */
