@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
}
.font700 {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.font300 {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/*------------------- header------------------- */
header {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 230px;
}

nav ul {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
  font-weight: 400;
}

.li1 {
  font-weight: 600;
}
.buttons {
  display: flex;
  gap: 25px;
  cursor: pointer;
}
.btn1 {
  border: none;
  font-weight: 400;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
}
.btn2 {
  border: 1px solid #003478;
  color: #003478;
  background-color: #fff;
  font-weight: 600;
  width: 106px;
  font-size: 17px;
  height: 48px;
}

/* -------------------hero ------------------*/
#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 22px;
  z-index: 0;
}

.lines div {
  background-color: #303231;
  width: 100%;
  height: 64px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 13%;
  left: 230px;
  z-index: 1;
  max-width: 500px;
  gap: 97px;
}

.hero-text h1 {
  font-size: 66px;
  text-transform: uppercase;
  color: #003478;
}

.hero-text h1 span {
  color: rgb(251, 170, 12);
}

.hero-text p {
  font-size: 32px;
  text-transform: uppercase;
  margin: 20px 0;
  color: white;
  font-size: 45px;
}

.hero-text p span {
  font-size: 20px;
}

.hero-buttons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.hero-btn1 {
  padding: 20px 40px;
  color: #fff;
  background-color: #003478;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.hero-btn2 {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hero-btn2 div {
  border-radius: 50%;
  background-color: #003478;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btn2 button {
  border: none;
  background: none;
  font-size: 17px;
  cursor: pointer;
}

.car {
  position: relative;
  right: -56%;
  z-index: 0;
  top: 75px;
}

/* --------------------section2 -----------------*/
#custom-order{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
 justify-content: space-evenly;
 gap: 50px;
 
}
.custom-div1{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.custom-div1 div{
  background-color: #303231;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.custom-div1 div p{
  font-size:34px ;
  font-family: "Sansation", sans-serif;
  font-weight: 200;
  font-style: normal;
  min-width: 400px;
  color: #fff;
  
}

.custom-div1 p{
  font-weight:400;
  font-size: 22px;
  text-align: center;
  margin-top: 0;
}
.custom-div2{
  width: 100%;
  padding: 0px 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;


}
.custom-divs{
  display: flex;
  flex-direction:column;
  gap: 30px;
  align-items: center;
  justify-content:center;
  border: 1px solid #F5F5F5;
  padding: 30px;
}
.border-right{
  padding: 39px;
}
.line{
  background-color: #BCBCBC;
  height: 230px;
  width: 1px;
}

 .circle{
  border-radius: 50%;
  color: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6645;
}
.circle1{
    background-color: #5046C7;

}
.circle3{
    background-color: #81D9F8;

}
.custom-divs h3{
  font-size: 18px;
  font-weight:600;
}
.custom-divs p{
  max-width:264px;
  text-align:center;
  font-weight:400;
}
.custom-divs h4{
  color: #FF6645;
  font-size: 14px;
}
.links{
  display: flex;
  flex-direction:column;
  align-items:center;
  gap: 14px;
}
.links button {
  padding: 15px 23px;
  background-color: #003478;
  border: none;

}
.links button a{
  text-decoration: none;
  color: #fff;
  
}
.links a{
  color: #0276B3;
  font-weight: 400;
  font-size: 18px;
}
.custom-nums{
  padding: 0px 150px;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.custom-nums div{
  width: 275px;
  height: 142px;
  border-radius: 10px;
  box-shadow:0px 00px 20px rgba(169, 168, 168, 0.653);
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.custom-nums h3{
  font-size: 48px;
  font-weight: 400;
}

@media (max-width: 1170px) {
  header {
    padding: 0px 50px;
  }
  .lines, .car{
    display: none;
  }
  .car{
    top:7%;
    
  }
  .hero-text{
    gap: 10px;
    text-align: center;
  }
  #custom-order{
    gap: 60px;
  }

}

@media (max-width: 1140px) {

  .hero-text {
    z-index: 2;
    gap: 70px;
    left: 30px;
    top: 10%;
  }
  .hero-text h1 {
    font-size: 50px;
  }
  .hero-text p {
    font-size: 30px;
  }
  .lines {
    width: 100%;
    height: 100px;
  }
  .car {
    display: none;
  }

  .line{
    display: none;
  }
  .custom-div1 div p{
    font-size: 30px;
  }

}



@media (max-width: 1000px) {
  header nav ul,
  .buttons {
    display: none;
  }
  .menu {
    display: block;
  }
  #custom-order{
    gap: 50px;
 
  }
  .custom-div1 p{
    padding: 0px 30px;
  }
  .custom-nums{
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
  }
  .custom-nums div{
        box-shadow: none;

  }
  .custom-div2{
    padding: 20px 15px;
  }
  .custom-divs{
    padding: 20px;
  }
   .custom-divs h3{
    font-size: 17px;
   }
}

@media (max-width: 600px) {

    .hero-text h1{
        font-size: 30px;
    }
      .hero-text p{
        font-size: 16px;
    }
  .hero-buttons{
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  .hero-buttons {
    gap: 10px;
    margin-top: 20px;
  }

    .custom-div1 div p{
    font-size: 19px;
  }
      .custom-div1  p{
    font-size: 16px;
    max-width: 300px;

  }
}
