@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* nav */
nav {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


nav ul  , .logo_img , .ul_pages,.ul_pages section {
  list-style: none;
  display: flex;
  align-items: center;
}

.ul_pages{
    gap:105px;
}

.ul_pages section{
  gap: 40px;
}


.ul_icons {
  display: flex;
  gap: 6px;
}

/* Main contaiiner 1 */
.container1 {
  background-color: #f0efeb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
}

.div_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.div_text h1 {
  font-weight: 700;
  font-size: 60px;
}

.div_text p {
  font-size: 24px;
  font-weight: 400;
}

.div_text button {
  padding: 10px;
  width: 120px;
  border-radius: 26px;
  background-color: black;
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
}

.div_text button:hover {
  background-color: gray;
}

.div_image img {
  width: 100%;
  max-width: 599px;
  height: auto;
}

@media (max-width: 768px) {
  nav .ul_pages section{
    display: none;
  }
  .div_text h1 {
    font-size: 40px;
  }
  .div_text p {
    font-size: 18px;
  }
}
