@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: #717171;
}
h1,
h2 {
  color: #4d4d4d;
}
body {
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background: black;
}

/* nav */
.navbar {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  padding: 20px;
}
.logo {
  display: flex;
  gap: 13px;
}
.logo span,
a {
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  color: #263238;
}
.logo img {
  width: 37px;
  height: 30px;
}

.home {
  margin-right: 24px;
}

.ul-button,
.navbar ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin-right: 14px;
}

.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #717171;
  font-size: 17px;
}
.navbar-button {
  background-color: #4caf4f;
  border: none;
  padding: 14px;
  width: 150px;
  color: white;
  border-radius: 5px;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 370px;
  background-color: #f5f7fa;
  flex-wrap: wrap;
  padding: 90px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
}
.hero-text h1 {
  font-size: 50px;
  max-width: 500px;
 
}

.hero-text h1 span {
  color: #4caf4f;
}

.hero-text p {
  font-size: 11px;
  font-weight: 300;
  margin-top: 20px;
}
.hero-text button {
  width: 90px;
  padding: 9px;
  color: #fff;
  background-color: #4caf4f;
  border: none;
  border-radius: 3px;
}
.hero-img {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}

/* Our Clients */
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  gap: 60px;
}

.client-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.client-details h2 {
  font-size: 30px;
  font-weight: 600;
}
.client-details p {
  font-weight: 300;
  font-size: 15px;
}
.client-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.client-imgs img {
  width: 47px;
  height: auto;
}

/* manage */

#clients-manage {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
}
.manage_text {
  text-align: center;
}
.manage_text h1 {
  font-size: 36px;
  font-weight: 600;
  max-width: 540px;
  margin-bottom: 15px;
}
.manage_text p {
  font-size: clamp(14px, 16px, 18px);
  font-weight: 300;
}

.manage_imgs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.manage_divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.manage_divs img {
  width: 55px;
  height: auto;
}
.manage_divs h2 {
  max-width: 200px;
  text-align: center;
}
.manage_divs p {
  max-width: 269px;
  text-align: center;
 
}
/* pixelgrade */

.pixelgrade{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px;
}
.pixelgrade2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pixelgrade2 h1{
  font-size: 30px;
  font-weight: 600;
  max-width: 460px;
}
.pixelgrade2 p{
  max-width: 680px;
  font-weight: 300;
  font-size: clamp(13px, 16px, 18px);

}

.pixelgrade2 button{
  background-color: #4caf4f;
  border: none;
  padding: 14px;
  width: 160px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
/* local business */

.local_business{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F5F7FA;
  padding: 60px;
  flex-wrap: wrap;
  
}

.local_text h1{
  font-size: clamp(20px,36px,38px);
  max-width: 390px;
  margin-bottom: 15px;
}
.local_text span{
  color: #4caf4f;
}
.StatsOverview{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.stats{
  display: flex;
  gap:20px;
}

.stats_numbers h2{
    font-size: clamp(14px,24px,29px);
}
.row1, .row2{
  display: flex;
  gap: 160px;
}


@media (max-width: 980px) {
  .navbar {
    gap: 24px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-img img {
    width: 230px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    width: 20px;
  }

  .ul-button .nav_links {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 60px;
  }

}

@media (max-width: 700px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .hero-text {
    justify-content: center;
    gap: 20px;
  }
  .hero-img {
    justify-content: center;
    margin-left: 20px;
  }
  
}

@media (max-width: 550px) {
  .navbar {
    display: flex;
    gap: 40px;
  }
  .logo span,
  .manage_text h1,
  .manage_divs h2 {
    font-size: 23px;
  }

  .logo img {
    width: 30px;
    height: 25px;
  }
  .logo span {
    font-size: 20px;
  }

  .logo img {
    width: 30px;
    height: 25px;
  }

  .navbar-button {
    width: 90px;
    height: 40px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
  }

  .navbar-button span {
    display: none;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .client-imgs {
    gap: 20px;
  }

  .manage_imgs {
    gap: 50px;
  }

  .manage_text p,
  .manage_divs p{
    font-size: 15px;
  }

  
  .local_text h1{
    font-size: 30px;
  }
   .row1,
  .row2 {
    flex-direction: column;
    gap: 30px; 
    align-items: center;
  
  }

  .StatsOverview {
    gap: 60px; 
    margin-top: 30px;
  }

  .stats {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .pixelgrade1 img{
    width: 300px;
  }
  .pixelgrade2 h1{
    font-size: 28px;
  }
   
}
