@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: hsl(13, 31%, 94%);
    flex-wrap: wrap;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.desserts{
    display: flex;
    flex-direction: column;
    padding: 70px 130px;
    gap: 25px;
    font-weight: 900;
}
.desserts h1{
    font-size: 35px;
}
.desserts-sect123{
    display: flex;
    gap: 30px;
    font-size: 16px;
    flex-wrap: wrap;
    justify-content: center;
}
.about-desserts{
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.dessert-img{
    width: 300px;
    border-radius: 10px;
    
}

#orderPlusMinus{
    display: none;
    justify-content:space-around;
    align-items:center;
    gap: 10px;
    background-color: rgb(255, 0, 0);
    border: 1px solid red;
    width: 160px;
    border-radius: 16px;
    padding: 10px;
    color: hsl(14, 65%, 9%) ;
    position: absolute;
    top: 270px;
    left: 70px;
    cursor: pointer;
}

.addToCart-btn{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
    background-color: white;
    border: 1px solid  hsl(7, 20%, 60%);
    width: 160px;
    border-radius: 16px;
    padding: 10px;
    color: hsl(14, 65%, 9%) ;
    position: absolute;
    top: 270px;
    left: 70px;
    cursor: pointer;
    
}
.addToCart-btn img{
    width: 18px;
}
.dessert-name{
    color:hsl(7, 20%, 60%) ;
    margin-top: 20px;
}
.description{
    color: hsl(14, 65%, 9%) ;
}
.price{
    color: hsl(14, 86%, 42%);
}


.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 380px;
    width: 100%;
    height: 100%;
    max-height:270px;
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
    gap: 10px;
    color: hsl(14, 65%, 9%) ;
    
}
.cart h1{
    color: hsl(14, 86%, 42%);
    font-size: 23px;
    font-weight: 900;
    width: 100%;
}

.cart div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

@media(max-width:1469px){
    .desserts{
        padding: 40px 70px;
    }
    .cart{
        margin: 20px;
    }
}
@media(max-width:1469px){
    body{
        justify-content: center;
        align-items: center;
    }
    .desserts{
        flex-wrap: wrap;
        padding: 40px;
    }
     .desserts h1{
        font-size: 40px;
    }
    .cart{
        margin: 30px;
    }
}