@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_div h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 44px;
}
.content_div {
  color: rgba(255, 255, 255, 0.842);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.content_div button {
  width: 180px;
  height: 46px;
  border-radius: 20px;
  border: none;
  color: hsla(257, 40%, 49%, 0.829);
  box-shadow: 2px 2px 5px  #000000;
}
.content_div p {
  line-height: 1.4;
  font-size: 17px;
}
.logo {
  width: 200px;
  position: absolute;
  top: 30px;
  left: 50px;
}

.parent_div {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top:60px ;
}
.parent_div img{
    width: 930px;
}

.socials img{
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px ;
  
}
.socials{
  transform: translate(120px, 400px);
}
.twt{
  height: 38px;
}