body{
    background-color: rgb(250, 217, 222);
    font-family: 'Courier New', Courier, monospace;
    height: 200vh;
    margin: 0;
}

.navigation{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 800px;
    border: 1px solid rgb(255, 180, 251);
    background-color: rgb(255, 192, 203);
    box-shadow: 6px 6px 10px palevioletred;
    color: rgb(55, 40, 99);
    
}

.list{
    list-style: none;
    display: flex;
    gap: 30px;
}


.image{
    width: 200px;
    position: relative;
    left: 500px;
    top: 170px;
    border-radius: 20px;
    border: 2px solid brown;
}

.h1{
    padding-left: 50px;
}

.p1{
    position:static;
}

.div1{
    position: relative;
    left: 30px;
}

.img-p{
    position: absolute;
    left: 688px;
    top: 150px;
    border: 2px solid red;
    border-radius: 50px;
    background-color: red;
    color: black;
}