@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  margin: 0px 140px;
  align-items: center;
  border-bottom: 1px solid #a8a8a8;
}
header h1 {
  font-weight: 700;
  font-size: 30px;
}
.nav ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
}
button {
  background-color: #ffce31;
  width: 140px;
  border: none;
  padding: 18px;
  border-radius: 40px;
  font-weight: 700;
}

/* hero */

#section-hero {
  border-bottom: 1px solid #a8a8a8;
}
.div-hero {
  display: flex;
  align-items: center;
  padding: 40px;
  justify-content: space-around;
  margin-top: 60px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 40px;


}
.hero-text h1 {
  font-size: 80px;
  max-width: 600px;
  font-weight: 700;
}

.hero-text p {
  font-weight: 400;
  font-size: 19px;
  max-width: 560px;
}

.hero-input {
  display: flex;
  gap: 15px;
}
.hero-input input {
  background-color: #f5f5f5;
  border: none;
  padding: 18px;
  border-radius: 40px;
  width: 300px;
}
.hero-input input::placeholder {
  font-weight: 400;
  font-size: 17px;
}
.hero-img img {
  width: 770px;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px 0px 150px;
  margin-bottom: 80px;
}
.img1 {
  width: 300px;
}
.socials-img {
  display: flex;
  align-items: center;
  gap: 50px;
}
.socials-img img {
  width: 95px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 150px;
  gap: 60px;
  justify-content: center;
  
}

.sec2-div1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.sec2-div1 h1 {
  font-weight: 700;
  font-size: 50px;
  max-width: 600px;
}

.sec2-div1 p {
  font-weight: 400;
  font-size: 18px;
  max-width: 400px;
}
.sec2-div2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

}
.sec2-div2 img {
 max-width: 550px;
}



.section3{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 140px;
}
.section3 h1{
  font-size: 60px;
  font-weight: 700;
}
.section3 p{
  font-size: 19px;
  font-weight: 400;
}
.section3 img{
  width: 100%;
  margin-top:100px;
}

.sec3-div1{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec3-div2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  flex-wrap:wrap;
  gap: 50px;
  
}
.sec3-div2 div{
  display: flex;
  flex-direction: column;
  gap:10px;
  max-width: 300px;
}
.sec3-div2 div h2{
  font-size: 80px;
  font-weight: 700;
  display: flex;

}
.sec3-div2 div p{
  font-size:18px;
  font-weight: 400;

}
.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 140px;
  background-color: #FFCE31;
  gap: 50px;
  margin-top: 140px;
}
.section4  h1{
  font-size: 80px;
  font-weight: 700;
  max-width: 1000px;
  margin-top: 40px;

}
.section4  img{
  width: 400px;
}

footer{
  display:flex;
  justify-content:space-between;
  border-bottom: 1px solid #000000;
  padding: 25px 0px;
  margin: 80px 150px;
  height: 210px;
  flex-wrap: wrap;
  
}
.footer-div1{
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 140px;
 
}
.footer-div1 h2{
  font-weight: 700;
  font-size: 26px;
}
.footer-div1 p{
  font-weight: 400;
  line-height: 1.6;
  margin-top: 20px;
}
.footer-div2{
  display:flex;
  gap: 100px;

}
.footer-div2 ul{
  list-style-type: none;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  height: 140px;
  font-weight: 400;
  font-size: 18px;
  flex-wrap: wrap;
}

.privacy-p{
  display: flex;
  justify-content: center;
  padding: 14px;

}
@media (max-width:1455px){
  .sec2-div1,
  .sec2-div2 {
    justify-content: center;
    text-align: center;
  }
  .sec2-div1 h1,
  .sec2-div1 p {
    max-width:100%;
  }
}

@media (max-width:1310px) {
  header { margin: 0 20px; }

  .div-hero,
  .socials {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .div-hero h1 { font-size: 2.3rem; }
  .hero-img img { width: 400px; }
  .section4 h1 { font-size: 60px; }
  footer{
      padding: 15px 0px;
      margin: 30px 50px;
      border-bottom: none;
      justify-content: center;
  }

}

@media (max-width:800px) {
  .nav ul { display: none; }

  .div-hero p { max-width: 400px; }

  .hero-input {
    flex-direction: column;
  }
  .hero-input button { width: 300px; }

  .socials-img { flex-direction: column; }

  .section2 { padding: 140px 60px; }
  .sec2-div1 h1 { font-size:40px; }
  .sec2-div1 p { font-size:16px; }
  .sec2-div2 img { width: 350px; }

  .section3 {
    padding: 0 40px;
    justify-content: center;
  }
  .sec3-div1 h1 { font-size: 30px; }
  .sec3-div1 p { font-size: 16px; }

  .sec3-div2 {
    justify-content: center;
  }
  .sec3-div2 div h2 { font-size: 55px; }
  .sec3-div2 div p { font-size: 15px; }

  .section4 {
    padding:40px 30px;
  }
  .section4 h1 { font-size: 40px; }
  footer{ flex-direction: row;
  gap: 80px;}
  .footer-div2 ul{
    gap:70px;
  }
}