

/* header */


.nav_a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 1s;

}
.nav_a:hover{
    color: #f7fb2d;
}

.navbar{
    padding: 10px ;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#main-title{
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(63, 101, 60, 0.729); ;

}

.u-list{
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 24px;
    padding-left: 600px;
}

body {
    background-color:rgb(168, 168, 168);
}

.div1 {
    font-size: 30px;
    color: rgb(3, 63, 19);
}

.div2 {
    font-size: 30px;
    color: rgb(2, 26, 0);
}

.div3{
    font-size: 30px;
    color: rgb(4, 42, 0);
}

.content{
    border: 2px solid rgb(0, 0, 0);
}
.img1{
    width: 200px;
}

.img2{
    width: 200px;
}.img3{
    width: 200px;
}.img4{
    width: 200px;
}.img5{
    width: 200px;
}

