@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
}

.container {
    display: flex;
}

.bg-img {
    height: 100%;
    width: 600px;
    position:relative;
}



.info-side {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-front{
    width: 100%;
    max-width: 460px;
    max-height: 270px;
    height: 100%;
    padding: 25px;
    color: #fff;
    background: linear-gradient(130deg,#6f4cff 0%, #7a3ee6 25%,#b93fd1 45%,#5e9df0 60%,#7b1fa2 100%);
    border-radius: 8px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    position:absolute;
    top: 220px;
    left: 260px;
    box-shadow: 0px 0px 40px rgb(197, 196, 196);
}
.card-numbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.card-number{
    font-size: 22px;
}
.name-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.card-mm-yy{
    display: flex;
}

/*baratis ukana mxare */

.card-back{
    width: 100%;
    max-width: 460px;
    max-height: 270px;
    height: 100%;
    padding-top: 30px;
    color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    background: linear-gradient(179deg, rgba(255, 255, 255, 1) 28%, rgba(217, 217, 217, 1) 65%);
    gap: 28px;
    position:absolute;
    top: 525px;
    left: 350px;
    box-shadow: 0px 0px 40px rgb(197, 196, 196);
}

.black-line{
    background-color: rgb(47, 47, 47);
    width: 100%;
    max-width: 100%;
    height: 45px;
}


.grey-line{
    background-color: rgb(173, 181, 191);
    width: 80%;
    max-width: 100%;
    height: 42px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}



/* form */


#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
}
#form label{
    color: hsl(278, 68%, 11%);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
}
#form input{
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 6px;
}
#form input::placeholder{
    color:hsl(270, 3%, 87%);
    font-weight:700;
    font-size: 16px;
}
#form input:focus {
  background:
    linear-gradient( 90deg,
      rgba(100, 72, 254, 1) 37%,
      rgba(96, 5, 148, 1) 62%
      );
      color: white;
}

.inputs1-2{
    width: 350px;
    height: 40px;
    padding: 10px;
}
.date-CVC{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.exp-date-div{
    display: flex;
    gap: 10px;
}
.exp-date-div1  {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.MM-YY-div{
    display: flex;
    gap: 10px;
}
.exp-dates{
    max-width: 70px;
    height: 35px;
    padding: 10px;
}

.CVC-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.CVC-div input {
    display: flex;
    flex-direction: column;
    max-width: 186px;
    height: 35px;
    padding: 10px;
}

.confim-btn{
    width: 350px;
    height: 45px;
    padding: 10px;
    margin-top: 20px;
    background-color: hsl(278, 68%, 11%);
    border-radius: 8px;
    color: hsla(0, 0%, 100%, 0.819);
    cursor: pointer;
    border: none;
}
 
.confim-btn:focus{
    background:
    linear-gradient( 90deg,
      rgba(100, 72, 254, 1) 37%,
      rgba(96, 5, 148, 1) 62%);
}

span{
    color: red;
    font-size: 13px;
    display: none;
}


.hidden  {
    display: none;
}





@media(max-width:1420px){
    .container{
        flex-direction: column;
    }
    body{
        justify-content: space-between;
    }
    .bg-img{
        width: 100%;
        height: 240px;
    }
    .card-front{
        max-width: 415px;
        max-height: 200px;
        padding: 25px;
        position: fixed;
        top: 150px;     
        left: 40%;
        transform: translateX(-50%);
        z-index: 9999;  

    }
    body{
        justify-content: space-evenly;
    }
    .card-back{
        max-width: 415px;
        max-height: 200px;
        padding: 25px;
        position: fixed;
        top: 10px;    
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;  

    }
    .info-side{
        height: 100%;
        padding-top: 80px;
    }
    .bg-img{
        position: fixed;
        top: 0;
    }
}

@media(max-width:540px){
    .info-side{
        height: 100%;
        padding-top: 80px;
    }
    #form{
        gap: 8px;
        margin-top: 170px;
    }
    .bg-img{
        position: fixed;
        top: 0;
    }
    body{
        justify-content: space-evenly;
    }
    .card-front{
        max-width: 340px;
        max-height: 180px;
        padding: 25px;
        top: 126px;     
        left: 46%;
        transform: translateX(-50%);
    }
    .card-back{
        max-width: 340px;
        max-height: 180px; 
        padding: 25px;
        top: 8px;    
        left: 50%;
        transform: translateX(-50%);
    }
    .inputs1-2{
        width: 315px;
        height: 40px;
        padding: 10px;
    }
    .MM-YY-div{
        gap: 5px;
    }
    .CVC-div input {
        max-width: 160px;
    }

.confim-btn{
        width: 300px;
        height: 45px;
    }
 
}