* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body{
   background-color: rgb(203, 230, 230);
   overflow-x: hidden;
}

#img1{
    width: 60px;
    border-radius: 50%;
}

#nav1 {
    display: flex;
    background-color: #061729;
    justify-content: space-between;
}

#ul1 {
    display: flex;
    list-style: none;
}

/* navbar list elements  */
li{
  font-size: 22px;
  padding-top: 20px;
  padding-right: 40px;
  
}

#nav1 a, #footer1 a {
    text-decoration: none;
    color: #AFEEEE;
    transition: 1s;
}

#nav1 a:hover, #footer1 a:hover {
    color:#30f783;
    margin-right: 13px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* first section cpus */

.div{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 70px;
    border-radius: 10px;
    box-shadow:  5px 5px 15px 0px  #008080;
    transition:1.5s;
    cursor: pointer;

}
.div:hover{
    padding-top: 19px;
    box-shadow:  5px 5px 15px 0px  #04c97d;
}


.img{
    display: flex;
    border-radius: 50%;
    width: 200px;
}
.p{
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(6, 92, 63);
}
.div1{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 175px;
    border-radius: 10px;
    box-shadow:  5px 5px 15px 0px  #008080;;
    transition:1.5s;
    cursor: pointer;

}

.div1:hover{
    padding-top: 19px;
    box-shadow:  5px 5px 15px 0px  #04c97d;
}

.div2{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 285px;
    border-radius: 10px;
    box-shadow:  5px 5px 15px 0px  #008080;
    transition:1.5s;
    cursor: pointer;

}
.div2:hover{
    padding-top: 19px;
    box-shadow:  5px 5px 15px 0px  #04c97d;
}

.div3{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 400px;
    border-radius: 10px;
    box-shadow:  5px 5px 15px 0px  #008080;
    transition:1.5s;
    cursor: pointer;

}
.div3:hover{
    padding-top: 19px;
    box-shadow:  5px 5px 15px 0px  #04c97d;
}

/* meore seqcia */

.second_div{
    display: flex;
    justify-content: space-around;
}

.pc_img{
    width: 120px;
    height: 130px;
    border-radius: 50%;
}

/*  meore seqciis 4 divi  */
.div4{
    padding: 12px;
    text-align: center;
    font-size: 10px;
    border-radius: 16px;
    border-radius: 10px;
    box-shadow: 2px 5px 8px 0 rgb(0, 119, 128);
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 260px;
    margin-top: 120px;
    margin-left: 45px;
}


/* footer */

#footer1 {
    margin-top: 300px;
    width: 1270px;
    height: 100px;
    background-color:#061729;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-a{
    margin: 3px;
}

/* boy now  */
.div_buy {
    background-color: rgb(147, 239, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 200px;
    height: 30px;
    font-size: 18px;
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 10px;
}

.div_buy:hover {
    background-color: #04c97d;
    
}



.a_problem {
    color: black;
    text-decoration: none;
}
